/* set correct box model */
* {
    box-sizing:border-box;
}

/* flexbox container */
.holy-grail-flexbox {
    display:flex;
    flex-wrap:wrap;
}

/* columns (mobile) */
.holy-grail-flexbox > * {
    width:100%;
    padding:1rem;
}

/* background colors */
.holy-grail-flexbox > .header {background:#210430}
.holy-grail-flexbox > .main-content {background:#210430}
.holy-grail-flexbox > .left-sidebar {background:#210430}
.holy-grail-flexbox > .right-sidebar {background:#210430}
.holy-grail-flexbox > .footer {background:#210430}

/* mobile breakpoint */
@media (min-width:360px) {
    .holy-grail-flexbox > .left-sidebar,
    .holy-grail-flexbox > .right-sidebar {
        width:25%;
    }
}

/* tablet breakpoint */
@media (min-width:768px) {
    .holy-grail-flexbox > .left-sidebar,
    .holy-grail-flexbox > .right-sidebar {
        width:50%;
    }
}

/* desktop breakpoint */
@media (min-width:1024px) {
    .holy-grail-flexbox > .header {
        order:-2; /* header first */
    }
    .holy-grail-flexbox > .left-sidebar {
        /* left sidebar second (first in second row) */
        order:-1; 
    }
    .holy-grail-flexbox > .main-content {
        width:50%;
            border-style:double;
    }
    .holy-grail-flexbox > .left-sidebar,
    .holy-grail-flexbox > .right-sidebar {
        width:25%;
    }
}
    
    
    .header-img{
    margin-right:auto;
    margin-left:auto;
    width:98%;
    display:block;
    border: 5px solid #555;
    }
    
    .header-img:hover{
    border: 5px solid #FFFF00;
}
    
     .table1{
    border-style:double;
    text-align:center   
}

body {background-color:#15161C;
     }      

li{
  margin: 5%;
}
