body {
margin: 0;
background-color:  #2e2e2e ;
text-align: center;

}

.imgA3{
    width: 100px;
    display: inline-flex;
}
.imgA3 img{
    position: 
   
}

.imgB3{
    width: 100px;
    display: inline-flex;
}
.imgB3 img{
    position: 
   
}

.imgC1{
    width: 100px;
    display: inline-flex;
}
.img13 img{
    position: 

}

.imgC2{
    width: 100px;
    display: inline-flex;
}
.imgC2 img{
    position: 
  
}

.imgC3{
    width: 100px;
    display: inline-flex;
}
.imgC3 img{
    position: 
  
}

.imgD3{
    width: 100px;
    display: inline-flex;
}
.imgD3 img{
    position: 
   
}

.imgE3{
    width: 100px;
    display: inline-flex;
}
.imgE3 img{
    position: 
   
}




