body{ 
    background-color: rgb(28, 0, 39);
}

.text1 {
 text-align: center;
 color: lightgray;
}


 td.table1{
 width: 800px;
 background-color: lightgray;
 table-layout: auto;
 border-style: double;
 padding: 4px;
 column-width: auto;
 text-align: center;

}

thead{
 font-weight: bold;
 font-size: 20px;
}

tbody{
 font-weight: bold;
 font-size: 15px;
}

li{
 position: relative;
 left: 330px;
 text-indent: -700px;
}

ul{
 list-style-image: url(ImageCSS/isopodicon.png);
}

.maro {
 display: block;
 margin-left: 300px;
 margin-top: 400px;
 height: 135px;
 width: 217px;
}



