body {
margin: 0;
background-color:  #2e2e2e ;
text-align: center;

}

.imgA3{
    width: 100px;
    display: inline-flex;
}
.imgA3 img{
    position: 
   grid-column: 3;
   grid-row: 1;
}

.imgB3{
    width: 100px;
    display: inline-flex;
}
.imgB3 img{
    position: 
    grid-column: 3;
    grid-row: 2;
}

.imgC1{
    width: 100px;
    display: inline-flex;
}
.img13 img{
    position: 
    width: 400px;
    height: 1200px;
}

.imgC2{
    width: 100px;
    display: inline-flex;
}
.imgC2 img{
    position: 
    width: 400px;
    height: 1200px;
}

.imgC3{
    width: 100px;
    display: inline-flex;
}
.imgC3 img{
    position: 
    width: 400px;
    height: 1200px;
}

.imgD3{
    width: 100px;
    display: inline-flex;
}
.imgD3 img{
    position: 
    width: 400px;
    height: 1200px;
}

.imgE3{
    width: 100px;
    display: inline-flex;
}
.imgE3 img{
    position: 
    width: 400px;
    height: 1200px;
}


